<html>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
<title>Welcome Page</title>
<style> 

html { 
    background: url(blurbg.jpg) no-repeat center fixed; 
    background-size: cover;
}


div{
    background-color: #4CAF50;
    border-radius: 25px;
    border: 2px solid #73AD21;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 225px 525px;  	


}


</style>

<body>

<div>
<p>
<h3>
      Welcome to CFI Inventory Manager
</h3>
</br>
<h4>
   <a href="../signup"> Create User </a>
</h4>


<h4>
   <a href="../login"> Login </a>

</h4>
</p>
</div>

</body>
</html>
