<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="cssloginpage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="icon.png">
  <title>Centre For Innovation</title>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <img src="header51.png">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2" style="visibility: hidden"></div>
    <div class="col-sm-8 text-left" style="border: 1px solid grey; top: 10%; background: #00e6e6; padding-bottom: 20px;"> 
<center><h1>{{u|title}}</h1><br>

<div id="grad1">
{% if tu %}
The following are the tools taken by {{u|title}}
<ul>{% for i in tu%}
<li>{{ i.name|title}}</li>
{% endfor %}
</ul>
{% else %}
You haven't take any tools currently
{% endif %}
</div>

<br>
<div id="grad2">
{% if to %}
The following are the tools taken by other users
<table style ="width:40%">
<tr>
    <th>Tool Name</th>
    <th>User Name</th>
</tr>
{% for i in to%}
<tr>
	<td>{{i.name|title}}</td>
	<td>{{i.current|title}}</td>
</tr>
{% endfor %}
</table>
{% else %}
No one has taken any tools currently
{% endif %}
</div>

<br>

<div id="grad3">
{% if ta %}
The following are the tools available now
<ul>{% for i in ta%}
<li>{{ i.name|title}}</li>
{% endfor %}
</ul>
{% else %}
No tools are available now
{% endif %}
</div>
    </div>
    <div class="col-sm-2" style="visibility: hidden"></div>
  </div>
</div>

</body>
</html>